.dpkCursor {
    height: 40px;
    width: 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    pointer-events: none;

    &::before {
        content: "";
        transform: rotate(45deg);
        position: absolute;
        border-radius: 12px;
        width: 40px;
        height: 40px;
        background: #8888888d;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}

.dpkCursor-hover {
    margin-left: -2px;
    margin-top: -2px;
    width: 6px;
    height: 6px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    pointer-events: none;
    &::before {
        content: "";
        transform: rotate(45deg);
        position: absolute;
        border-radius: 12px;
        border: none;
        transition:
            background 0.5s,
            box-shadow 0.5s;
        box-shadow: 0px 0px 20px 18px #888888;
        margin-left: -20px;
        margin-top: -20px;
        width: 60px;
        height: 60px;

        /* scale:1.2; */
        background: #8888884d;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}

.header-sell-website {
    position: absolute;
    width: 100%;
    transition: all 0.5s;
    z-index: 100;
    .navbar-sell-website {
        display: flex;
        /* padding: 22px 10px; */
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        justify-content: space-between;
        &::before {
            display: unset !important;
            content: none !important;
        }
        &::after {
            display: unset !important;
            content: none !important;
        }
        .hamburger-btn {
            display: none;
            color: black;
            cursor: pointer;
            font-size: 1.5rem;
        }
        .logo {
            order: 1;
            gap: 10px;
            display: flex;
            align-items: center;
            text-decoration: none;
            img {
                width: 300px;
                height: 100px;
                padding: 10px 0;
                object-fit: none; /* Giữ kích thước thật của logo */
                object-position: center; /* Lấy phần trung tâm của logo */
            }
        }
        .logo-res {
            order: 1;
            gap: 10px;
            display: flex;
            align-items: center;
            text-decoration: none;
            display: none;
            img {
                width: 60px;
            }
        }
        .links {
            order: 2;
            display: flex;
            gap: 35px;
            margin: 0;
            list-style: none;
            align-items: center;
            .dropdown {
                position: relative;
                .dropdown-menu {
                    cursor: default;
                    position: absolute;
                    background: unset;
                    border: none;
                    display: none;
                    flex-direction: column;
                    border-radius: 5px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                    padding: 25px 0;
                    li:hover {
                        /* padding: 10px 15px; */
                        background: #468df13e;
                        color: black;
                    }
                    li a:hover {
                        // padding: 10px 20px;
                        background: unset;
                        color: #50adff !important;
                    }
                    a {
                        cursor: pointer;
                        color: white;
                        padding: 15px;
                        background: black;
                        &:hover {
                            color: #50adff !important;
                        }
                    }
                }
                &:hover {
                    .dropdown-menu {
                        display: flex;
                        animation: fade-in 0.3s ease-in-out forwards;
                    }
                    .navbar-sell-website .links .dropdown .dropdown-menu li {
                        padding: 10px;
                    }
                }
            }
            a {
                color: white;
                text-decoration: none;
                transition: 0.1s ease;
                &:hover {
                    color: #50adff;
                }
            }
        }
        .close-btn {
            position: absolute;
            right: 20px;
            top: 20px;
            display: none;
            color: black;
            cursor: pointer;
        }
        .back-btn {
            position: absolute;
            left: 20px;
            top: 20px;
            display: none;
            color: black;
            cursor: pointer;
        }
        .logged-btn {
            display: flex;
            order: 3;
            border: none;
            outline: none;
            color: black;
            font-size: 1rem;
            font-weight: 600;
            border-radius: 15px;
            cursor: pointer;
            transition: 0.15s ease;
            align-items: center;
            .logged-content {
                color: black;
                text-decoration: none;
                display: flex;
                font-size: 16px;
                align-items: center;
                margin-right: 10px;
                .logged-text {
                    margin-left: 10px;
                    white-space: nowrap;
                    word-wrap: break-word;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 60px;
                }
            }
            .logout-content {
                display: flex;
                align-items: center;
                margin-left: 10px;
                /* margin-right: 10px; */
            }
            .cart-content {
                display: flex;
                align-items: center;
                margin-left: 10px;
                margin-right: 10px;
            }
            .cart-content {
                position: relative;
                img {
                    width: 25px;
                    height: 25px;
                }
                .number {
                    position: absolute;
                    top: -8px;
                    right: -8px;
                    background-color: red;
                    color: white;
                    border-radius: 50%;
                    width: 15px;
                    height: 15px;
                    font-size: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: bold;
                }
            }
        }
        .login-btn {
            order: 3;
            border: none;
            outline: none;
            background: #50adff;
            /* opacity: 0.1; */
            color: white;
            font-size: 13px;
            font-weight: 600;
            padding: 10px 18px;
            border-radius: 15px;
            cursor: pointer;
            transition: 0.15s ease;
            &:hover {
                background: #28669b;
            }
        }
        .button-portfolio-website {
            display: none;
        }
    }
    &.header-sell-website-scroll {
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.871);
        box-shadow: 2px -3px 18px #888888;
        transition: all 0.5s;
        .links {
            a {
                color: white;
            }
        }
    }
}
.mobile-header {
    display: none;
}
/* Keyframes cho animation */
@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-10px);
        /* Dịch chuyển lên trên */
    }

    to {
        opacity: 1;
        transform: translateY(0);
        /* Khôi phục vị trí ban đầu */
    }
}

@media (max-width: 950px) {
    .header-sell-website {
        display: none;
    }
    .mobile-header {
        margin:0;
        display: flex;
        position: absolute;
        width: 100%;
        z-index: 100;
        color: white;
        padding: 5px;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.871);
        box-shadow: 2px -3px 18px #888888;
        transition: all 0.5s;
        .links {
            a {
                color: white;
            }
        }
        .logo-mobile {
            text-align: center;
            img {
                width: 100px;
            }
        }
        .icon-menu {
            width: 100px;
            font-size:2rem;
            // padding:0;
        }
        .hotline {
            display: flex;
            flex-direction: row-reverse;
            padding:0;
            .ele {
                border: 1px solid #50adff;
                width: 100px;
                border-radius: 15px;
                padding: 10px 0;
                text-align: center;
            }
        }
    }
}
.hotline-icon-one-pc {
    z-index: 999;
    width: max-content;
    background: #50adff;
    border-radius: 50%;
    padding: 10px;
    animation: pulse 1.5s infinite;
    .hotline-icon-svg {
        width: 50px;
        // animation: rotate 1.5s infinite;
    }
    position: fixed;
    bottom: 50px;
    right: 40px;
}
.hotline-icon-one-ios {
    z-index: 999;
    width: max-content;
    background: #50adff;
    border-radius: 50%;
    padding: 10px;
    animation: pulse 1.5s infinite;
    .hotline-icon-svg {
        width: 50px;
        // animation: rotate 1.5s infinite;
    }
    position: fixed;
    bottom: 50px;
    right: 40px;
    display: none;
}
.hotline-icon-one-android {
    z-index: 999;
    width: max-content;
    background: #50adff;
    border-radius: 50%;
    padding: 10px;
    animation: pulse 1.5s infinite;
    .hotline-icon-svg {
        width: 50px;
        // animation: rotate 1.5s infinite;
    }
    position: fixed;
    bottom: 50px;
    right: 40px;
    display: none;
}
.hotline-icon-two {
    z-index: 999;
    width: max-content;
    background: #50adff;
    border-radius: 50%;
    padding: 10px;
    animation: pulse 1.5s infinite;
    .hotline-icon-svg {
        width: 50px;
        // animation: rotate 1.5s infinite;
    }
    position: fixed;
    bottom: 150px;
    right: 40px;
}
@keyframes pulse {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}
@media only screen and (max-width: 600px) {
    .hotline-icon-one-pc {
        display: flex;
    }
    .hotline-icon-one-ios {
        display: flex;
    }
    .hotline-icon-one-android {
        display: flex;
    }
}
